body{
    background: black;
}
.headarea{
    background-image:url(background.jpg);
    position:relative;
}
.headarea img{
    width:28%;
    height:18%;
    
}
#logo{
    padding:20px 8%; 
    position:absolute;
}

.lang-btn{
    position:absolute;
    color:white;
    background:transparent;
    left:50%;
    padding:3px 25px;
    border:solid 1px #333333;
    margin-top:20px;
}
.sign{
    width:60px;
    max-width: 100%;
    height:30px;
    float:right;
    position:absolute;
    background:red;
    color:white;
    font-family:Arial;
    text-align:center;
    border:solid 1px transparent;
    border-radius:5px;
    left:84%;
    margin-top:20px;
}
.sign a{
    text-decoration: none;
    color:white;
}
.unlimited{
    color:white;
    font-weight:900;
    font-family:Arial;
    text-align:center;
    padding-top:20%;
        font-family:Arial;

}
.unlimited h1{
    font-size:60;
    font-weight:bolder;
    line-height:1.1;
}
.get{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:152px;
    flex-wrap: wrap; 
}
.get input[type="email"]{
    padding:15px;
    width:350px;
    max-width:100%;
    border:solid 1px white;
    border-radius:5px;
    background:black;
    color:white;  
    left:80%; 
        margin:10px; 
}
.get button{
    background:red;
    color:white;
    padding:15px 20px;
    left:55%;
    border-radius:5px;
    font-weight:bolder;
}
.curvearea{
    background:linear-gradient( to top, black 20%, #131D45 100%);
    padding-top:100px;
}
.trending{
    background:black;
}
.trending h2{
	color:white;
	font-family:Arial;
}
.movies{
    width:170px;
    height:252px;
    margin:5px;
    overflow:hidden;
}
.movies img{
    width:100%;
    height:100%;
    transition-duration:1s;
    border-radius:5px;
}
.movies img:hover{
    transform:scale(1.1,1.1);
}
.reasons{
    background: black;
    padding-top:70px;
}
.reasons h2{
    color:white;
    font-family:Arial;
}
.box{
    width:295px;
    max-width: 100%;
    height:278px;
    float:left;
    background:linear-gradient(#1C1C39,#201220,#192145);
    margin:5px;
    border-radius:15px;
    padding-bottom:80px;
    padding-right:5px;

}
.box h3{
    color:white;
	font-family:Arial;
	padding-top:16px;
	margin-left:16px;

}
.box p{
    color:#BAB8B8;
    font-family:Arial;
    padding-left:16px;
}
.faqarea{
    padding-top:50px;
    background:black;
}
.faqarea{
    color:white;
    font-family: Arial;
}
.faqbox{
    display:flex;
    background:#2D2D2D;
    margin:10px;
}
.faqbox p{
    padding:25px 0px 6px 15px;
    font-family: Arial;
    font-size: 25px;
    font-style:white;
}
.faqbox:hover{
    background:#414141;
}
.loginarea{
    padding-top:50px;
    background:black;
    padding-bottom:80px;
    
}
.input-box{
    display:flex;
    justify-content: center;
    flex-wrap: wrap; 

}
.input-box input[type="email"]{
    padding:15px;
    width: 450px;
    max-width:100%;
    border:solid 1px #373737;
    border-radius:5px;
    background:black;
    color:white; 
    margin:10px; 
}
.input-box button{
    height:55px;
    background:red;
    color:whitesmoke;
    border-radius: 5px;
    padding:-5px 30px;
    margin-top:10px;
    padding:0 25px;
    font-weight:bolder;
}
.lists{
    background-color: black;
    color:#B3B3B3;
    position:relative;
    padding-bottom:50px;
}
.lists h5{
    margin-bottom:45px;
}
.lists li{
    list-style:none;
}
.lists a{
        color:#B3B3B3;
        
}
.language-btn{
    position:absolute;
    color:white;
    background:transparent;
    padding:4px 25px;
    border:solid 1px #333333;
    margin-top:60px;
    font-weight: bold;
}
.last-text{
    color:#B3B3B3;
    padding-top:130px;
    line-height: 80px;
}
